adfincidencia/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfincidencia"
		},
		"BlobExp_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobExp'"
		},
		"blobike_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blobike'"
		},
		"exp1_apiKey": {
			"type": "secureString",
			"metadata": "Secure string for 'apiKey' of 'exp1'"
		},
		"exp2_apiKey": {
			"type": "secureString",
			"metadata": "Secure string for 'apiKey' of 'exp2'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BlobExp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobExp_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobike')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blobike_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/exp1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureML",
				"typeProperties": {
					"mlEndpoint": "https://europewest.services.azureml.net/workspaces/88c404edec8742c4b92acc30e142fe41/services/ecc7f18f0ad44695ab571b313bac0484/jobs?api-version=2.0",
					"apiKey": {
						"type": "SecureString",
						"value": "[parameters('exp1_apiKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/exp2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureML",
				"typeProperties": {
					"mlEndpoint": "https://europewest.services.azureml.net/workspaces/88c404edec8742c4b92acc30e142fe41/services/d6acf9d8149b4d089a9f45524b7d9eef/jobs?api-version=2.0",
					"apiKey": {
						"type": "SecureString",
						"value": "[parameters('exp2_apiKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bike')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobike",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "churn.ilearner",
						"container": "entrenamiento"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobike')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bikecopy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobike",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bike.ilearner",
						"container": "entrenamiento"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobike')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ML Batch Execution1",
						"type": "AzureMLBatchExecution",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"webServiceOutputs": {
								"output1": {
									"filePath": "entrenamiento/bike.ilearner",
									"linkedServiceName": {
										"referenceName": "blobike",
										"type": "LinkedServiceReference"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "exp1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ML Update Resource1",
						"type": "AzureMLUpdateResource",
						"dependsOn": [
							{
								"activity": "ML Batch Execution1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "exp2",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"trainedModelName": "bike",
							"trainedModelLinkedServiceName": {
								"referenceName": "blobike",
								"type": "LinkedServiceReference"
							},
							"trainedModelFilePath": "entrenamiento/bike.ilearner"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ML Batch Execution1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "bike",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bikecopy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/exp1')]",
				"[concat(variables('factoryId'), '/linkedServices/exp2')]",
				"[concat(variables('factoryId'), '/linkedServices/blobike')]",
				"[concat(variables('factoryId'), '/datasets/bike')]",
				"[concat(variables('factoryId'), '/datasets/bikecopy')]"
			]
		}
	]
}